@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('../fonts/sourcesanspro.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/sourcesanspro_bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 24px;
    color: #fff;
    margin: 150px 0 0 0;
    -webkit-font-smoothing: antialiased;
}

body.skin-binarymatrix {
    background-color: #084f70;
    background-image: url('../images/matrix.png');
    background-repeat: repeat-x;
}

.topmenu {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.topmenu>.container-fluid {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  height: 100px;
  padding: 0 30px;
}

.topmenu ul.navbar-nav {
  padding: 0 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 15px;
}

.navbar-nav>li>a {
  /* .nav-link, but mediawiki doesn't set the class */
  color: #eee;
  text-decoration: none;
  display: block;
  padding: 0 15px;
}

.navbar-nav>li>a:focus, .navbar-nav>li>a:hover, .navbar-nav>li>a:active, div.titlemenu>ul>li>a:focus, div.titlemenu>ul>li>a:hover, div.titlemenu>ul>li>a:active {
    /* hovering over the navigation-bar items */
  color: #de5110;
}

.navbar-dark .dropdown-menu-dark {
  background-color: rgba(40, 40, 40, 0.7);
}

.nav>.open>a, .nav>.open>a:focus, .nav>.open>a:hover, .nav>.open>a:visited, .nav>.open>a:active {
    /* navbar item which is opened with a dropdown underneath */
    background-color: #4b4c4f;
}

.dropdown-menu {
    color: #ddd;
    background-color: #292a2d;
}

.dropdown-menu>li>a {
    color: #ddd;
    text-decoration: none;
}

.dropdown-menu>li:focus, .dropdown-menu>li:hover, .dropdown-menu>li:visited,
.dropdown-menu>li a:focus, .dropdown-menu>li a:hover, .dropdown-menu>li a:visited {
    /* hovering over the items in the dropdown menu */
    color: #f1ece1;
    background-color: #4b4c4f;
}

.search-icon {
    font-size: 85%;
}

.search-window {
    padding: 15px;
    color: #333;
}
*/

.icon-bar {
    background-color: #f1ece1;
}

.container-fluid {
    padding: 0;
}

.container-fluid>.navbar-collapse {
    margin: 0;
}

.page-title {
  padding: 40px 0;
  font-weight: 700;
}

div.sitename {
    color: #f1ece1;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 3px 3px rgba(0,0,0,0.2);
    font-weight: 700;
}

div.firstblock>div.title {
    /* the title of the first block */
    color: #f1ece1;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    position: relative;
    left: -13px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 15px;
    margin-right: -30px;
    margin-bottom: 15px;
}

div.firstblock p {
    color: #f1ece1;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
}

div.firstblock div.block p {
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: none;
}

div.titlename {
    float: left;
}


div.titlemenu {
    /* menu with edit-icons */
    float: right;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
    border-radius: 24px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
}

div.titlemenu>ul {
    margin: 0 10px;
    padding-left: 0;
}

div.titlemenu>ul>li {
    float: left;
    list-style: none;
    padding: 5px 15px;
}

div.titlemenu>ul>li>a {
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
}

div.title::after {
    content: '';
    display: block;
    clear: both;
}

div.block {
    /* the blocks with text */
    opacity: 0.9;
    color: #333;
    border-radius: 2px;
    box-shadow: 3px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 15px 15px 15px;
    margin-bottom: 20px;
}

div.block::after {
    content: '';
    display: block;
    clear: both;
}

/* -------------------------
   mediawiki style overrides
   -------------------------
*/

a.mw-mmv-license, div.mw-mmv-reuse-button, li.mw-mmv-username-li, li.mw-mmv-datetime.li, div.mw-mmv-about-links {
    display: none;
}

div.mw-mmv-options-button {
    display: none;
}

div.mw-mmv-post-image, div.mw-mmv-ttf-ellipsis-container {
    display: none;
}

div.floatright, div.floatleft {
    clear: none;
}

form.mw-editform, form.mw-editform p {
    color: #000;
    text-shadow: none;
}

.mw-ui-button.mw-ui-progressive {
    /* blue buttons */
    background-color: #de5110;
    color: #fff;
    border: 1px solid #de5110;
}

.mw-ui-button.mw-ui-progressive:hover {
    /* blue buttons */
    background-color: #e4400e;
    color: #fff;
    border: 1px solid #e4400e;
}

/* -----------------------
   content style overrides
   -----------------------
*/

h2 {
    color: #333;
    position: relative;
    left: -15px;
    border-bottom: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 10px 15px;
    margin-right: -30px;
}

h3 {
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

/* links on grey background*/

a, a:visited {
    color: #de5110;
    text-decoration: none;
}

a:hover, a:focus {
    color: #de5110;
    text-decoration: underline #de5110;
}

/* links in blocks */

block a, block a:visited {
    color: #333;
    text-decoration: underline #ccc;
}

block a:hover, block a:focus {
    color: #333;
    text-decoration: underline #de5110;
}

pre {
    border-radius: 0;
    border-color: #ccc;
    background-color: rgba(128, 128, 128, 0.1);
}

.resized {
    height: 35px !important;
    background-color: rgba(0, 0, 0, 0.5);
}
